<!-- wp:group {"className":"wide","layout":{"type":"default"}} -->
<div id="alkamist-template" class="wp-block-group wide">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
        <!-- wp:template-part {"slug":"header","theme":"alkamist"} /-->
    </div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main","className":"wide","layout":{"type":"constrained"}} -->
    <main id="alkamist-template-content" class="wp-block-group wide">
        <!-- wp:template-part {"slug":"content","theme":"alkamist"} /-->
        <!-- wp:template-part {"slug":"comments","theme":"alkamist"} /-->
    </main>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
        <!-- wp:template-part {"slug":"footer","theme":"alkamist"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->